<div id="homepage_container" [ngClass]="{'first_moment': first_moment }">

	<div class="first-moment">
		<svg viewbox="0 0 100% 100%">
			<text x="50%" y="74%" text-anchor="middle" font-size="30" fill="#fff" stroke-width="1" stroke="#fff" font-family="sans-serif" lengthAdjust="spacing">FLIP THE COIN TO EXPLORE THE GALLERY</text>
		</svg>
	</div>

	<div id="homepage_slides">
		<owl-carousel #owlElement
			[options]="{items: 1, dots: false, loop:true, nav: true}"
			[items]="slides"
			[carouselClasses]="['owl-theme', 'row', 'sliding']"
		>
			<div class="item" *ngFor="let slide of slides;let i = index">

				<img [src]="slide.featured_image_thumbnail_url" />
				<h1>{{ slide.title.rendered }}</h1>
				<div class="content" [innerHTML]="slide.content.rendered">
				</div>

				<a *ngIf="slide.acf.call_to_action_text" class="cta" [routerLink]="slide.acf.call_to_action_link">{{ slide.acf.call_to_action_text }}</a>
			</div>
		</owl-carousel>
	</div>
</div>
