@import "../../assets/_variables.scss";

#homepage_slides {
	opacity: 1;
	transition: opacity 1s;
}

.first-moment {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.8;
	height: 100vh;
	width: 100%;
	svg {
		height: 100%;
		width: 100%;
	}
}

@media #{$small} {
	.first-moment {
		svg {
			transform: scale(0.5);
			width: 200%;
			margin-left: -50%;
		}
	}
}

.first_moment {
	cursor: pointer;

	#homepage_slides {
		opacity: 0;
		pointer-events: none;
	}
	.first-moment {
		display: block;
	}
}
.item {
	text-align:center;
	h1 {
		font-family: $bitter;
		color: $cyan;
	}

	.content {
		color: $white;
		display: block;
		line-height: 1.7em;
		max-width: 300px;
		margin: 0 auto;
		text-align: left;
	}

	.cta {
		border: 1px solid $gray;
		color: $white;
		display: inline-block;
		font-family: $montserrat;
		font-weight: bold;
		font-size: 0.85em;
		line-height: 1.7em;
		margin-top: 1em;
		padding: 0.8em 2em;
		text-transform: uppercase;

		&:hover {
			background-color: $white;
			color: $black;
		}
	}
}

@media #{$medium} {
	/deep/ #homepage_container {
		height: 100vh;
		width: calc(100vw - 70px);

		#homepage_slides {
			height: 100vh;

			.owl-stage {
				height: 100vh;

				.owl-item {
					height: 100vh;
					display: flex;
					align-items: center;
					justify-content: center;

					img {
						max-width: 400px;
						height: auto;
					}
				}
			}
		}
	}
}
