.page_content {
	padding: 1em;
	margin: 160px auto 0;

	/deep/ h3 {
		font-size: 24px;
		color: #6c7c84;
		position: relative;
		left: -5em;
		font-weight: normal;
		max-width: 680px;
	}
}

h2 {
	font-size: 36px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	height: 1.5em;
	line-height: 1.33;
	letter-spacing: normal;
	color: #101010;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	margin-left: 2em;
	margin-top: 140px;
	&:before {
		content: " ";
		display: block;
		position: absolute;
		left: -1em;
		bottom: 0em;
		width: 150%;
	  height: 30px;
	  mix-blend-mode: multiply;
	  background-color: #00e1ff;
	}
}
