<div id="app_container" [ngClass]="{'menu_open': menu_open }">
	<header>
		<h1>
		  <a class="ir" routerLink="/" id="logo">{{title}}</a>
		</h1>
		<a [ngClass]="{'open': menu_open }" id="menu_toggle" title="Toggle Menu" (click)="menu_open = !menu_open">
			<span></span>
			<span></span>
			<span></span>
		</a>
	</header>

	<div [ngClass]="{'open': menu_open }" id="navigation">
		<div class="navigation_inner">
			<input type="text" name="s" id="s" placeholder="SEARCH HERE" (click)="menu_open = true; $event.stopPropagation()">
			<nav>
				<ul>
					<li>
						<a (click)="menu_open = false;" routerLinkActive="active-link" routerLink="/page/about">About</a>
					</li>
					<li>
						<a (click)="menu_open = false;" routerLinkActive="active-link" routerLink="/kat/artists">Artists</a>
					</li>
					<li>
						<a (click)="menu_open = false;" routerLinkActive="active-link" routerLink="/kat/books">Books</a>
					</li>
					<li>
						<a (click)="menu_open = false;" routerLinkActive="active-link" routerLink="/kat/films">Films</a>
					</li>
					<li>
						<a (click)="menu_open = false;" routerLinkActive="active-link" routerLink="/kat/records">Records</a>
					</li>
					<li>
						<a (click)="menu_open = false;" routerLinkActive="active-link" routerLink="/kat/live">Live</a>
					</li>
				</ul>
			</nav>
			<a (click)="menu_open = false;" routerLinkActive="active-link" routerLink="/page/contact" class="cta">CONTACT US</a>
		</div>
	</div>
	<main>
		<router-outlet></router-outlet>
	</main>
	<three-renderer></three-renderer>
</div>
