@import "../assets/_variables.scss";
/deep/ canvas {
	background-image: url('/assets/img/FTC_hand.svg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: auto 70%;
	z-index: -1;
}
@media only screen and (orientation : portrait) {
	/deep/ canvas {
		background-size: 90% auto;
	}
}

header {
	background-color: $white;
	padding: 10px;
	position: relative;
	z-index: 10;

	h1 {
		display: inline-block;
		line-height: 1em;
		margin: 0;
		a#logo {
			background-image:url('../assets/img/FTC_logo_h2lines_onwhite.svg');
			background-size: 200px auto;
			display: inline-block;
			font-size: 0;
			width: 200px;
			height: 63px;
		}
	}

	a#menu_toggle {
		cursor: pointer;
		display: inline-block;
		height: 20px;
		margin: 0px 12px 0 auto;
		position: absolute;
		right: 15px;
		top: 40px;
		transform: rotate(0deg);
		transition: .5s ease-in-out;
		width: 30px;

		&:hover {
			background-color: transparent;
		}

		span {
			display: block;
			position: absolute;
			height: 3px;
			width: 100%;
			background: #000;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: .25s ease-in-out;

			&:nth-child(1) {
				top: 1px;
			}

			&:nth-child(2) {
				top: 9px;
			}

			&:nth-child(3) {
				top: 17px;
			}
		}

		&.open {
			span {
				&:nth-child(1) {
					left: 0px;
					top: 9px;
					transform: rotate(45deg);
				}
				&:nth-child(2) {
					opacity: 0;
					width: 0%;
				}
				&:nth-child(3) {
					left: 0px;
					top: 9px;
					transform: rotate(-45deg);
				}
			}
		}
	}

}

#navigation {
	background-color: $white;
	box-sizing: border-box;
	overflow: hidden;
	padding: 1em;
	transition: margin 0.5s;
	height: 100vh;
	margin-top: -100vh;

	a {
		color: $black;
		display: inline-block;
		font-family: $bitter;
		font-size: 30px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 2;
	  letter-spacing: normal;
	  color: #101010;

		&:hover,
		&:active,
		&.active-link {
			background-color: $yellow;
		}
	}

	a.cta {
		background-color: $cyan;
		display: block;
		font-family: $montserrat;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		padding: 0.8em 2em;
		line-height: 1.5em;

		&:hover {
			background-color: $black;
			color: $white;
		}
	}

	input#s {
		border: 2px solid $black;
		box-sizing: border-box;
		display: block;
		margin: 3em 0 2em;
		padding: 0.8em;
		width: 100%;

		&:focus {
			border: 2px solid $yellow;
		}
	}

	&.open {
		margin-top: 0;
	}

	ul {
		padding: 0;

		a {
			padding: 0.1em 0.25em 0.1em 0;
			&:active:before ,
			&:hover:before,
			&.active-link:before {
				content: ">>";
				color: $cyan;
				padding-left: 0.25em;
			}
		}
	}

}

:host /deep/ {
	.owl-theme .owl-nav [class*='owl-'] {
		background-color: transparent;
		background-image: url('../assets/img/Arrow_right.svg');
		background-size: 62px 52px;
		box-sizing: border-box;
		font-size: 0;
		height: 52px;
		position: absolute;
		bottom: -20px;
		top: auto;
		left: 5px;
		width: 62px;
		transform: scale(0.6);

		&.owl-next {
			left: auto;
			right: 5px;
		}

		&.owl-prev {
			transform: rotate(180deg) scale(0.6);
		}
	}
}

@media #{$medium} {
	:host /deep/ {
		.owl-theme .owl-nav [class*='owl-'] {
			bottom: auto;
			top: 44%;
			transform: scale(1);
			&.owl-prev {
				transform: rotate(180deg) scale(1);
			}
		}
	}
	:host header {
		background-color: transparent;
		position: absolute;

		a#menu_toggle {
			position: fixed;
			transition: all 0.5s ease-in-out;
			top: 35px;
			right: auto;
			left: calc( 100vw - 50px );
			z-index: 10;

			&.open {

			}
		}

		h1 {
			transition: all 0.5s ease-in-out;
			#logo {
				background-image:url('../assets/img/FTC_logo_h2lines_onblack.svg');
			}
		}

	}

	/deep/ #archive_container,
	/deep/ #page_container {
		display: flex;
		position: absolute;
		left: 100vw;
		transition: all 0.5s ease-in-out;
	}

	:host.archive ,
	:host.page {

		header {
			h1 {
				transform: rotate( 90deg ) translateY(-80px);
				transform-origin: 0 0;

			}

			a#menu_toggle {
				left: 120px;
			}
		}

		#navigation {
			left: 100px;
		}

		/deep/ #archive_container,
		/deep/ #page_container {
			background-color: #fff;
			left: 170px;
			width: calc( 100vw - 170px );
			color: #101010;
			height: 100vh;
			p {
				max-width: 480px;
				font-size: 14px;
			  font-weight: normal;
			  font-style: normal;
			  font-stretch: normal;
			  line-height: 1.5;
			  letter-spacing: normal;
				margin-bottom: 1.5em;
			}
		}

		/deep/ .archive_inner_left {
			display: flex;
			transition: all 0.5s ease-in-out;
			width: 100%;
			#category_details {
				width: 50%;
				h2 {
					cursor: pointer;
				}
			}
			#loop {
				width: 50%;
			}
		}

		.menu_open {
			header {
				a#menu_toggle {
					left: 290px;
				}
			}

			#navigation {
				left: 100px;
			}
			/deep/ #archive_container,
			/deep/ #page_container {
				left: 345px;
				width: calc( 100vw - 345px );
			}
		}
	}

	#navigation {
		cursor: pointer;
		height: 100vh;
		margin-top: 0;
		padding-top: 3em;
		position: fixed;
		top: 0;
		transition: all 0.5s ease-in-out;
		right: auto;
		left: calc( 100vw - 70px);
		width: 70px;
		z-index: 8;
		text-transform: uppercase;

		&.open {
			left: calc( 100vw - 245px);
			width: 245px;
			.navigation_inner {
				opacity: 1;
			}
		}

		.navigation_inner {
			opacity: 0;
			transition: opacity 1s ease-in-out;
			margin: 0 auto;
			width: 200px;
		}
	}

	.menu_open {
		main {
			width: calc( 100vw - 245px );
		}
	}
}
