@import "../../assets/_variables.scss";

#category_details {
	h2 {
		font-size: 36px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		height: 1.5em;
		line-height: 1.33;
		letter-spacing: normal;
		color: #101010;
		text-transform: uppercase;
		display: inline-block;
		position: relative;
		margin-left: 0em;
		margin-top: 70px;
		&:before {
			content: " ";
			display: block;
			position: absolute;
			left: -1em;
			bottom: 0em;
			width: 150%;
		  height: 30px;
		  mix-blend-mode: multiply;
		  background-color: #00e1ff;
		}
	}

	p {
		transition: 0.5s all ease-in-out;
		font-size: 16px;
		line-height: 21px;
		color: #101010;
		max-width: 480px;
		margin:0 auto;
		display: block;
	}
}

#loop {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0em;
		text-align: right;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: scroll;
		li {
			cursor:pointer;
			display: block;
			background-color: #ccc;
			background-image: url('http://placehold.it/420x260?text=image+not+assigned+yet');
			background-size: cover;
			background-position: 50% 50%;
			font-size: 21px;
		  font-weight: bold;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 1.1;
		  letter-spacing: -0.2px;
		  color: #ffffff;
			max-width: 420px;
			width: 100%;
			margin: 0 0 0 auto;
			height: 260px;
			text-align: left;
			text-transform: uppercase;
			transition: all 0.1s linear;
			position: relative;
			.img_container {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				img {
					width: 100%;
					height: 100%;
					display: block;
					object-fit: cover;
					object-position: 50% 50%;
					height: auto;
				}
			}
			a {
				color: #fff;
				display: inline-block;
				padding: 1em;
				font-family: $bitter;
				position: relative;
				z-index: 2;
			}
			&:hover {
				transform: scale(1.1);
				a{
					color: $cyan;
				}
			}
		}
	}

}

:host-context(.archive) {

	/deep/ .archive_inner_right {
		color: $black;
		display: flex;
		box-sizing: border-box;
		padding: 1em 1em 1em 0;
		transition: width 0.5s ease-in-out;
	}

	/deep/ .archive_inner_left {
		padding: 1em 0 1em 1em;
	}
}

:host-context(.single) {
	position: relative;


	/deep/ .archive_inner_left {
		#category_details {
			h2:before {
				content: "< ";
			}
			p {
				display: none;
			}
		}
	}

	/deep/ .archive_inner_right {
		background-color: $white;

		img {
			max-width: 100%;
			height: auto;
		}
	}
}

@media #{$medium} {
	:host-context(.archive) {
		/deep/ .archive_inner_right {
			height: 100vh;
			overflow-x: hidden;
			overflow-y: scroll;
			width: 1%;
		}
	}

	:host-context(.single) {
		position: relative;

		/deep/ #archive_container {
			width: calc( 100vw - 200px );
		}
		/deep/ .archive_inner_left {
			width: 35%;
		}

		/deep/ .archive_inner_right {
			background-color: $white;
			width: 65%;
		}
	}



}
