<div id="archive_container">
	<div class="archive_inner_left">
		<div id="category_details">
			<h2 (click)="changeClass('archive')" [routerLink]='"/kat/"+category?.slug'>{{category?.name || "loading..." }}</h2>
			<p>{{category?.description || "no description yet" }}</p>
		</div>
		<div id="loop">
			<ul>
				<li *ngFor="let post of posts" (click)="changeClass('archive single')" routerLinkActive="active-link" [routerLink]='["/kat/"+slug,post.slug]' [ngStyle]="{'background-image': 'url(' + getBG( post ) + ')'}">
					<a>{{ post.title.rendered }} </a>
				</li>
			</ul>
		</div>
	</div>
	<div class="archive_inner_right" [style.width]="width">
		<router-outlet></router-outlet>
	</div>
</div>
