/* Variables */

/* Colors */
$black: #080808;
$cyan: #60F6F8;
$yellow: #F6F860;
$clear_black: #1A1A1A;
$gray: #949494;
$clear_yellow: #F8F9AB;
$white: #FFF;

/* Breakpoints */
$small: "(max-width: 420px)";
$medium: "(min-width: 760px)";
$large: "(min-width: 1024px)";

/* Fonts */
$bitter: 'Miriam Libre', sans-serif;
$montserrat: 'Miriam Libre', sans-serif;
