@import url('https://fonts.googleapis.com/css?family=Miriam+Libre:400,700');
@import "assets/_variables.scss";

a {
	cursor: pointer;
	text-decoration:none;
}

body {
	background-color: $black;
	color: $white;
	font-family: $montserrat;
	padding: 0;
	margin:0;
	overflow: hidden;
}

canvas {
	position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@media #{$medium} {
	overflow-y: hidden;
}
