<ul>
  <li *ngFor="let post of posts" (click)="selectPost(post.slug)">
    <div class="framed_post_container">
      {{ post.title.rendered }}
    </div>
  </li>
</ul>
<div *ngIf="error">
  Error: {{error}}
</div>
